<!DOCTYPE html>
<html lang ="pt-br"></html>
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="senhaesquecida.component.scss">
    </head>

    <body>
        <main class="box"> 
            <a href="login.component.html">
                <input type="button" value=Login width="10px" weight="10px" class="buttom5">
                </a>

            <div class="caixa"></div>
               <div class="boxgeral">
                <p class="p">Esqueceu a Senha? | Recupere aqui: </p>
         
                <label class="label3" for="email">Digite seu Email aqui para receber o link para a recuperação de sua senha: </label>
                <input type="email" id="Email" class="styleinput" required placeholder="nome@email.com"> 
                <br>
                <br>
                <br>
                <a>
                        <input type="submit" value="Enviar" class="buttom3">
                    </a>
                </div>
        </main>
        
    </body>