<!DOCTYPE html>
<html lang ="pt-br"></html>
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="login.component.css">
    </head>

    <body>
        <main class="box"> 
        
            <div class="caixa"></div>
               <div class="boxgeral">
                <p class="p">Bem Vindo | Faça seu Login</p>
                <a href="login.component.html">
                  <input type="button" value=Login width="10px" weight="10px" class="buttom4">
                  </a>

                <div class="slideshow-container">

                  <!-- Full-width images with number and caption text -->
                  <div class="mySlides fade">
                    <img src="assets/masc.png" width="250px" height="250px">   
                  </div>
                
                  <div class="mySlides fade">
                    <img src="assets/fem.png" width="250px" height="250px">
                  </div>
                
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>

                <div>
                  <span class="dot1" onclick="currentSlide(1)"></span>
                  <span class="dot2" onclick="currentSlide(2)"></span>
                </div>

                <form action="15.html" method="post">                  
                    <label class="label" for="email">Email</label>
                    <input type="email" id="Email" class="styleinput" required placeholder="Digite seu e-mail"> 
                    <br>
                    <label class="label1" for="senha">Senha</label>
                    <input type="password" id="Senha" class="styleinput" required placeholder="********">
                    <a class="p1" href="./pages/senhaesquecida/senhaesquecida.component.html"><p class="p1">Esqueci minha senha</p></a>
                    <a class="p2" href="./pages/cadastro/cadastro.component.html"><p class="p2">Ainda não tenho conta</p></a>
                    <br>
                    <br>
                    <br>
                    <div id="enviar">      
                    <label></label>
                        <a href="pages/home/components/home.component.html">
                        <input type="submit" value="Entrar" class="buttom">
                    </a>
                    </div>

               
                </form> 
            </div>

        </main>
        <script src="login.component.ts" ></script>
        
    </body>