<!DOCTYPE html>
<html lang ="pt-br"></html>
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="home.component.css">
    </head>

    <body>
        <main>
            <div class="caixa"></div>
            <div class="box1">
                <p class="p">Formulário</p>

                <a href="login.component.html">
                    <input type="button" value=Login width="10px" weight="10px" class="buttom6">
                    </a>


                <form >     
                    
                    
                    <label class="label2" for="text"> 1- Em um local de crime que contenha vestígios cibernéticos, é de fundamental importância a realização do isolamento do local a fim de garantir a preservação dos vestígios cibernéticos até a chegada dos peritos criminais. Durante uma perseguição policial, após um roubo a banco com vítima fatal, os criminosos deixaram cair no chão um celular que estavam utilizando. Quando o perito criminal chegou ao local, o celular apresentava uma tela dizendo: realizando apagamento remoto  wiping 29%. Qual técnica antiforense foi utilizada pelos criminosos? </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">Destruição lógica.</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">Destruição física.</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">Slackering ou HDDS.</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> ADS ou Alternate Data Stream</label> 
                    <br>

                       
                    <label class="label2" for="text">2- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">3- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">4- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">5- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">6- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">7- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">8- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">9- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">10- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">11- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">12- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">13- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">14- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">15- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">16- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">17- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">18- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">19- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">20- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">21- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">22- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">23- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">24- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">25- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">26- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                       
                    <label class="label2" for="text">27- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                         
                    <label class="label2" for="text">28- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                         
                    <label class="label2" for="text">29- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>

                         
                    <label class="label2" for="text">30- Pergunta </label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required> 
                    <label class="alternativaa" for="alternativa a" value="alternativaa">alternativa a</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativab" for="alternativa a" value="alternativab">alternativa b</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativac" for="alternativa a" value="alternativac">alternativa c</label> 
                    <br>
                    <input type="radio" name="alternativa a" class="styleinput2" required > 
                    <label class="alternativad" for="alternativa a" value="alternativad"> alternativa d</label> 
                    <br>



                    <br>

                    <div id="enviar">
                    <label></label>
                        <input type="submit" value="Enviar formulário" class="buttom2">
                    </div>
                        
                </form>